.movieBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.box{
   padding: 4px;
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid grey;
}